<div class="imp-num">
    <mat-form-field appearance="fill">
        <mat-label>Number of impressions for selected device</mat-label>
        <textarea matInput placeholder="number of impressions" readonly>{{impressionsCount}}</textarea>
    </mat-form-field>
</div>

<h2 align="center">Number of Impressions per hour for selected Device:</h2>

<div class=" imp">
    <table mat-table [dataSource]="impDataSource" class="full-width mat-elevation-z8">

        <ng-container matColumnDef="hour">
            <th mat-header-cell *matHeaderCellDef> hour </th>
            <td mat-cell *matCellDef="let element">{{ element.hour }}</td>
        </ng-container>

        <ng-container matColumnDef="count">
            <th mat-header-cell *matHeaderCellDef> number of impressions </th>
            <td mat-cell *matCellDef="let element">{{ element.count }}</td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumnsImp"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumnsImp;"></tr>

    </table>
</div>