.imp-num {
  width: 15%;
  margin: auto;
}

.imp {
  width: 35%;
  margin: auto;
}

mat-card {
  width: 30%;
  margin: auto;
  margin-top: 30px;
  text-align: center;
}

td,
th {
  width: 25%;
}

tr:nth-child(even) {
  background-color: #efefef;
}

.full-width {
  width: 100%;
}

.data-table {
  margin: 30px 30px 30px 30px;
}
